.markdown-body h1,
.markdown-body h2 {
  padding: 0 !important;
  margin: 0 !important;
}

.markdown-body h1 {
  margin-top: 12px !important;
  font-size: 38px;
  padding: 12px 0 !important;
  border-bottom: 2px solid #222;
  color: white
}

.markdown-body h2 {
  font-size: 28px;
  color: white;
  margin: 12px 0 !important;
}

.markdown-body h3 {
  font-size: 22px;
  color: orange;
  margin: 0
}

.markdown-body h4 {
  font-size: 20px;
  color: #4C9AFF;
  margin: 0
}

.markdown-body p {
  margin: 0;
  /* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
  font-size: 18px;
  /* margin-bottom: 35px; */
}

.markdown-body span,
.markdown-body code {
  font-family: SFMono;
  font-weight: 500;
}

.markdown-body span {
  font-size: 16px;
}

.markdown-body div {
  border-radius: 4px;
  box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 14px !important;
  background-color: #2D2B55 !important;
  /* margin: 22px 0 !important; */
}

.markdown-body ul {
  font-size: 18px;
  margin: 6px 0;
}

.markdown-body a {
  text-decoration: none;
  color: #0070f3;
  font-size: 18px;
}

.markdown-body a:hover {
  text-decoration-line: underline;
}

.markdown-body table {
  border-collapse: collapse;
  width: 100%;
  max-height: 15rem;
  margin: 15px 0;
  table-layout:fixed;
  overflow-x: scroll;
  overflow-y: scroll;
  display: block;
}

.markdown-body table::-webkit-scrollbar {
  display: none;
}

.markdown-body th,
.markdown-body td {
  padding: 10px;
}

.markdown-body th {
  text-align: left;
  color: #0070F3;
  background-color: black;
}

.markdown-body tr {
  background-color: rgba(200, 200, 200, .2);
  color: white
}

.markdown-body tr:nth-child(even) {
  background-color: rgba(225, 225, 225, .1);
}

.markdown-body tr td:nth-child(1),
.markdown-body tr td:nth-child(2),
.markdown-body th:nth-child(1),
.markdown-body th:nth-child(2) {
  width: 9%;
}

@media only screen and (max-width:800px) {
  .markdown-body tr td:nth-child(1),
  .markdown-body tr td:nth-child(2),
  .markdown-body th:nth-child(1),
  .markdown-body th:nth-child(2) {
  width: 20%;
}
}

.markdown-body td a {
  color:#0070F3;
  font-size: 16px;
}

.markdown-body svg {
  vertical-align: middle;
  font-size: 18px;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 3rem;
}

.markdown-body blockquote {
  margin: 15px 0;
  color: rgb(13, 60, 97);
  background-color: rgb(232, 244, 253);
  padding: 15px;
  border-left: 5px solid #0070F3;
  border-radius: 5px;
}